<head>
	<title>{{title}}</title>
	<meta content="text/html; charset=Windows 1251" http-equiv="content-type">
	<link rel="stylesheet" type="text/css" media="screen" href="v/style.css" />
</head>

<body>
	<div id="header">
		<h1>{{title}}</h1>
	</div>