


	{% include "header.twig" %}

	<div id="menu">
		<a href="index.php">Read the text</a> |
		<a href="index.php?c=page&act=edit">Edit the text</a>
	</div>

	<div id="content">
		<form method="post">
      <textarea name="text"> {{text}} </textarea>
      <br />
      <input type="submit" value="Save" />
    </form>
	</div>


	{% include "footer.twig" %}